[Unit]
Description=Fix issue when setting static IP address with systemd-networkd
After=network.target

[Service]
Type=simple
ExecStart=/etc/systemd/scripts/fix-ethernet-issue.sh

[Install]
WantedBy=multi-user.target
